@tailwind base;
@tailwind components;
@tailwind utilities;

.input-lg {
  border-radius: 0.7rem;
}

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

.user-card {
  text-shadow: hsl(var(--pc)) 1px 0 10px;
}